---
import Layout from "$layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import Waves from "$components/Waves.svelte";
import { formatDate } from "$lib/utils";

export async function getStaticPaths() {
	const posts = await getCollection("projects");
	return posts.map(post => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"projects">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="flex items-center justify-center">
    <div class="flex flex-col gap-12 justify-center items-center w-[44rem] py-12 text-white text-3xl bg-black font-grotesk">
      <div class="space-y-4 text-center">
        <div>
          <h1 class="font-bold text-4xl">{post.data.title}</h1>
          <h2 class="text-lg">{formatDate(post.data.date)}</h2>
        </div>
        <h2 class="flex justify-center items-center gap-2 text-sm">
          {post.data.itch && <a href={post.data.itch} class="underline">play on itch.io</a>}
          {(post.data.itch && post.data.github) && <span class="border h-4 border-white" />}
          {post.data.github && <a href={post.data.github} class="underline">view source code</a>}
        </h2>
      </div>

      <img
        class="rounded-3xl w-full hover:scale-[102%] duration-200"
        src={post.data.hero}
        alt={post.data.title}
      >
    </div>
  </div>

  <Waves client:only="svelte" class="bg-dark" color="--color-light" />

  <article class="bg-white text-black p-8">
    <Content />
  </article>
</Layout>
