---
import Waves from "$components/Waves.svelte";
import Layout from "$layouts/Layout.astro"

import { getCollection } from "astro:content";

const posts = (await getCollection("projects")).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title="Projects">
  <div class="w-full h-48 flex justify-center items-center font-bold text-white text-3xl bg-black font-grotesk">
    my projects
  </div>

  <Waves client:only="svelte" class="bg-dark" color="--color-light" />

  <div class="bg-white py-12 px-24 grid grid-cols-3 gap-4">
    {posts.map(post => (
      <div class="p-6 rounded-[2rem] bg-black text-white font-grotesk space-y-2 group">
        <a
          href={`/projects/${post.slug}`}
          class="w-full h-48 block bg-white rounded-3xl overflow-hidden"
        >
          <div
            class="bg-cover rounded-3xl bg-center h-full w-full group-hover:scale-105 duration-200 bg-primary"
            style={`background-image: url('${post.data.cover}')`}
          ></div>
        </a>

        <div>
          <a
            href={`/projects/${post.slug}`}
            class="font-semibold text-2xl"
          >
            {post.data.title}
          </a>
          <h3 class="text-sm flex gap-2 items-center">
            {post.data.itch && <a href={post.data.itch} class="underline">play on itch.io</a>}
            {(post.data.itch && post.data.github) && <span class="border h-4 border-white" />}
            {post.data.github && <a href={post.data.github} class="underline">source code</a>}
          </h3>
        </div>
      </div>
    ))}
  </div>
</Layout>
